vpc_id                       = "vpc-xxxxxxxxxxxxxxxxx"
kubernetes_subnet_id         = "subnet-xxxxxxxxxxxxxxxxx"
carrier_subnet_a_id          = "subnet-aaaaaaaaaaaaaaaaa"
carrier_subnet_b_id          = "subnet-bbbbbbbbbbbbbbbbb"
existing_worker_instance_id  = "i-xxxxxxxxxxxxxxxxx"
worker_ami_id                 = "ami-xxxxxxxxxxxxxxxxx"
worker_key_name               = "anchor-e2e"
worker_instance_profile_name  = "anchor-e2e-worker"
worker_security_group_ids     = ["sg-xxxxxxxxxxxxxxxxx"]
bastion_security_group_id     = "sg-yyyyyyyyyyyyyyyyy"
trusted_operator_role_arn     = "arn:aws:iam::123456789012:role/anchor-e2e-operator"
